* {
  margin: 0;
  padding: 0;
}

$primary-color: #f0f0f0;
$secondary-color: #8ed5fa;

body {
  background-color: $secondary-color;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 960px;
  background-color: $primary-color;
  padding: 3rem 0;
  border-radius: 10px;
  margin: 0 5%;
}

img {
  display: block;
  width: 70%;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
    margin: 0;
  }
}